.App {
  text-align: center;
}

.headerOverlay {
  position: absolute;
  opacity: 0;
  background-color: #000000;
  height: 50%;
  width: 50%;
  top: 50;
  left: 50;
  border-radius: 25px;
}

.App-header:hover .headerOverlay {
  transition: all 0.5s ease;
  opacity: 1;
}

.headerOverlayText {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  position: sticky;
  top: 0px;
  background-color: transparent;
  height: 40x;
}
.date {
  margin-left: 1150px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.bio {
  font-size: 15px;
  font-family: "Contrail One", cursive;
}

.App-header {
  /*background-color: #222c42;*/
  background: url(./images/background.png),
    linear-gradient(180deg, #2f58af 10%, rgb(151, 150, 150));

  background-blend-mode: luminosity;
  background-size: 100%;

  /*background: linear-gradient(180deg, #222c42 70%, rgb(151, 150, 150));*/
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Contrail One", cursive;
}
h1:hover {
  transition-delay: 0.2s;
  letter-spacing: 3px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resumelink,
.codelink {
  text-transform: uppercase;
  text-decoration: none;

  /*background: linear-gradient(#222c42);*/
}

.btn {
  color: white;
  background: #4e6cad;
  border-color: cornflowerblue;
  text-size-adjust: 8;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 500; /*thiccness of letters*/
  text-transform: uppercase;
  border-radius: 10px; /*makes button border round*/
  font-family: "Contrail One", cursive;
}
.btn:hover {
  transition: 0.5s;
  /*transition-delay: 0.2s;*/
  color: white;
  background: #4db36c;
  border-color: #63daa2;
  text-size-adjust: 8;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 500; /*thiccness of letters*/
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "Contrail One", cursive;
  box-shadow: 5px 5px 15px #000000;
}

.lower {
  /*background-color: rgb(151, 150, 150);*/
  background-color: #4d80e4;
  min-height: 60vh;
}
