.checkbox-header {
  line-height: 1.6em;
  color: #f7f7f7;
  font-size: 50px;
  text-align: center;
  font-family: "Contrail One", cursive;
}
.checkbox-header:hover {
  transition-delay: 0.2s;
  letter-spacing: 3px;
}

.checkbox-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  flex-shrink: 3;
  flex-grow: 3;
}

.logo2 {
  flex-grow: 3;
  flex-shrink: 3;
}

.logo3 {
  flex-grow: 3;
  flex-shrink: 3;
}
