.checkbox-header {
  line-height: 1.6em;
  color: #f7f7f7;
  font-size: 50px;
  text-align: center;
  font-family: "Contrail One", cursive;
}
.checkbox-header:hover {
  transition-delay: 0.2s;
  letter-spacing: 3px;
}

.checkbox-body {
  display: flex;
  /* overflow: auto; */
  /* position: relative; */
  /* line-height: 1.6em; /*the space between lines */
  color: white;
}

.logo {
  flex-shrink: 3;
  flex-grow: 4;

  /* position: relative;
  left: 10px;
  top: 10px; */
}

.logo2 {
  flex-grow: 4;
  flex-shrink: 3;
  /* position: absolute;
  top: 550px;
  left: 400px;

  margin: 4px; */
}

.logo3 {
  flex-grow: 4;
  flex-shrink: 3;
  /* position: relative;
  top: 200px;
  left: 650px;
  height: 200px;
  margin: 4px; */
}
